__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.idea/
.vscode/

received/
*.log

sample.bin
testdata/
logs/
build/
dist/
*.spec
logs/
testdata/
sample.bin

# Auto test / generated outputs
auto_test_sample.bin
outputs/
received_auto_test/
received_auto_test_python/
